<header id="header" class="site-header site-header--landing" font-family =  "Kanit">
		
    <!-- Main Navigation Left -->
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class=""><a href="home.html">Home</a></li>
            <li class="">
                <a href="#">ทางเข้า</a>
                <ul class="main-nav__sub">
                    <li class="">
                        <a href="#">ทางเข้า Website</a>
                        <ul class="main-nav__sub">
                            <li class=""><a href="https://ufax24.com/">ทางเข้า UFAX24.COM</a></li>
                            <li class=""><a href="https://ufapro888s.co/">ทางเข้า UFAPRO888S.CO</a></li>
                            <li class=""><a href="https://789step.com/">ทางเข้า 789STEP.NET</a></li>
                            <li class=""><a href="https://huaydee.com/">ทางเข้า HUAYDEE.COM</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="site-overview.html">Website Overview</a>
                        <ul class="main-nav__sub">
                            <li class=""><a href="https://ufax24.com/">Website UFAX24.COM</a></li>
                            <li class=""><a href="https://ufapro888s.co/">Website UFAPRO888S.CO</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#">โปรโมชั่น</a></li>
                </ul>
            </li>
            <li class=""><a href="#">ตารางบอล</a>
                <ul class="main-nav__sub">
                    <li class=""><a href="matches.html">League Table</a></li>
                    <li class=""><a href="matches-upcoming.html">ตารางบอลวันนี้</a></li>
                    <li class=""><a href="#">Standings</a></li>
                    <li class=""><a href="#">Match Stats</a>
                        <!-- <ul class="main-nav__sub">
                            <li class=""><a href="matches-stats-1.html">Match Stats v1</a></li>
                            <li class=""><a href="matches-stats-2.html">Match Stats v2</a></li>
                            <li class=""><a href="matches-stats-3.html">Match Stats v3</a></li>
                        </ul> -->
                    </li>
                    <li class="">
                        <a href="#">Match Lineups</a>
                        <!-- <ul class="main-nav__sub">
                            <li class=""><a href="matches-lineups-1.html">Match Lineups v1</a></li>
                            <li class=""><a href="matches-lineups-2.html">Match Lineups v2</a></li>
                            <li class=""><a href="matches-lineups-3.html">Match Lineups v3</a></li>
                        </ul> -->
                    </li>
                    <li class=""><a href="#">Match Overviews</a>
                        <!-- <ul class="main-nav__sub">
                            <li class=""><a href="matches-overview-1.html">Match Overview v1</a></li>
                            <li class=""><a href="matches-overview-2.html">Match Overview v2</a></li>
                        </ul> -->
                    </li>
                    <li class=""><a href="#">Match Replay</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Main Navigation Left / End -->

    <!-- Logo - Image Based -->
    <div class="header-logo header-logo--img">
        <a href="index.html"><img src="assets/img/logo.png" style="width: 60px;" srcset="assets/img/logo@2x.png 2x" alt="UFATOP1"></a>
    </div>
    <!-- Logo - Image Based / End -->

    <!-- Main Navigation Right -->
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class=""><a href="#">ข่าว วงการกีฬา</a>
                <ul class="main-nav__sub">
                    <li class=""><a href="blogfootball.html" rel="nofollow">ฟุตบอล</a></li>
                    <li class=""><a href="#" rel="nofollow">UFC อัลติเมทไฟต์</a></li>
                    <li class=""><a href="#" rel="nofollow">มอเตอร์สปอร์ต</a></li>
                    <li class=""><a href="#" rel="nofollow">OFF ROAD</a></li>
                    <li class=""><a href="#" rel="nofollow">ทีเด็ด <span class="badge badge-danger">New</span></a></li>
                    <li class=""><a href="blog-post.html">บทความ</a></li>
                </ul>
            </li>
            <li><a href="#">ความบันเทิง</a>
                <div class="main-nav__megamenu">
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="main-nav__title">หนังเต็มเรื่อง HD</h6>
                            <div class="row">
                                <ul class="col-md-4">
                                    <li class=""><a href="https://movie2uhd.com/action" rel="nofollow">หนังแอคชั่น Action</a></li>
                                    <li class=""><a href="https://movie2uhd.com/adventure" rel="nofollow">ผจญภัย Adventure</a></li>
                                    <li class=""><a href="https://movie2uhd.com/comedy" rel="nofollow">หนังตลก Comedy</a></li>
                                    <li class=""><a href="https://movie2uhd.com/animation" rel="nofollow">แอนนิเมชั่น Animation</a></li>
                                    <li class=""><a href="https://movie2uhd.com/biography" rel="nofollow">ชีวิตจริง Biography</a></li>
                                    <li class=""><a href="https://movie2uhd.com/crime" rel="nofollow">อาชญากรรม Crime</a></li>
                                    <li class=""><a href="https://movie2uhd.com/documentary" rel="nofollow">สารคดี Documentary <span class="badge badge-danger">New</span></a></li>
                                </ul>
                                <ul class="col-md-4">
                                    <li class=""><a href="https://movie2uhd.com/drama" rel="nofollow">หนังดราม่า Drama</a></li>
                                    <li class=""><a href="https://movie2uhd.com/family" rel="nofollow">ครอบครัว Family</a></li>
                                    <li class=""><a href="https://movie2uhd.com/fantasy" rel="nofollow">แฟนตาซี Fantasy</a></li>
                                    <li class=""><a href="https://movie2uhd.com/horror" rel="nofollow">หนังสยองขวัญ Horror</a></li>
                                    <li class=""><a href="https://movie2uhd.com/musical" rel="nofollow">เพลงดนตรี Musical</a></li>
                                    <li class=""><a href="https://movie2uhd.com/mystry" rel="nofollow">ลึกลับซ่อนเงื่อน Mystery</a></li>
                                </ul>
                                <ul class="col-md-4">
                                    <li class=""><a href="https://movie2uhd.com/romance" rel="nofollow">โรแมนติก Romance</a></li>
                                    <li class=""><a href="https://movie2uhd.com/sci-fi" rel="nofollow">วิทยาศาสตร์ Sci-fi</a></li>
                                    <li class=""><a href="https://movie2uhd.com/sport" rel="nofollow">กีฬา Sport</a></li>
                                    <li class=""><a href="https://movie2uhd.com/thriller" rel="nofollow">ระทึกขวัญ Thriller</a></li>
                                    <li class=""><a href="https://movie2uhd.com/war" rel="nofollow">สงคราม War</a></li>
                                    <li class=""><a href="https://movie2uhd.com/western" rel="nofollow">คาวบอย Western <span class="badge badge-danger">New</span></a></li>
                                    <li class=""><a href="#" rel="nofollow">นอกกระแส</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <h6 class="col-md-8 main-nav__title">ความบันเทิง สำหรับ</h6>
                                <h6 class="col-md-4 main-nav__title">> 20+</h6>
                            </div>
                            <div class="row">
                                <ul class="col-md-4">
                                    <li class=""><a href="https://www.pornhub.com/" rel="nofollow">PornHub</a></li>
                                    <li class=""><a href="http://godude.link/xvideos" rel="nofollow">xVideos</a></li>
                                    <li class=""><a href="https://xhamster.com/" rel="nofollow">xHamster</a></li>
                                    <li class=""><a href="https://www.xnxx.com/" rel="nofollow">XNXX</a></li>
                                    <li class=""><a href="https://beeg.com/" rel="nofollow">Beeg</a></li>
                                    <li class=""><a href="https://daftsex.com/" rel="nofollow">DaftSex</a></li>
                                </ul>
                                <ul class="col-md-4">
                                    <li><a href="https://pornone.com/" rel="nofollow">PornOne</a></li>
                                    <li><a href="https://www.porn.com/" rel="nofollow">Porn.com</a></li>
                                    <li><a href="http://www.veporno.net/" rel="nofollow">VEPorns</a></li>
                                </ul>
                                <ul class="col-md-4">
                                    <li><a href="https://hqporner.com/" rel="nofollow">HQporner</a></li>
                                    <li><a href="https://www.eporner.com/" rel="nofollow">ePorner</a></li>
                                    <li><a href="https://sxyprn.com/" rel="nofollow">YourPorn</a></li>
                                    <li><a href="https://spankbang.com/" rel="nofollow">SpankBang</a></li>
                                    <li><a href="https://www.porntrex.com/" rel="nofollow">PornTrex</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <h6 class="col-md-8 main-nav__title">ThaiGrils</h6>
                                <h6 class="col-md-4 main-nav__title">สาวไทยน่ารัก</h6>
                            </div>
                            <div class="row">
                                <ul class="col-md-4">
                                    <img src="https://www.facebook.com/images/fb_icon_325x325.png" rel="nofollow" alt="fblogo" width="20px"><li class="" style="color: rgb(123, 255, 0); font-style: italic;">Facebook</li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                </ul>
                                <ul class="col-md-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" rel="nofollow" alt="fblogo" width="20px"><li class="" style="color: rgb(123, 255, 0); font-style: italic;">Instagram</li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                </ul>
                                <ul class="col-md-4">
                                    <img src="https://prd-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/thumbnails/image/Twitter_Social_Icon_Square_Color-400px.png" rel="nofollow" alt="fblogo" width="20px"><li class="" style="color: rgb(123, 255, 0); font-style: italic;">Twitter</li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                    <li class=""><a href="#">Upcoming กำลังคัดเลือก</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <a href="#">ทดลองเล่น</a>
                <ul class="main-nav__sub">
                    <li class=""><a href="DemoRoma.html">สล็อตโรม่า</a></li>
                    <li class=""><a href="FortuneGods.html">FortuneGods</a></li>
                    <li class=""><a href="Ganeshafortune.html">GaneshaFortune</a></li>
                    <li class=""><a href="Secretecleopatra.html">Secretecleopatra</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Main Navigation Right / End -->
</header>